:root{
    --color: #24BA9F;
    --color2: rgb(21,121, 102); 
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

.container{
    max-width: 1055px;
    margin: 0 auto;
}

.row{
    display: flex;
}
.col {
    flex: 1;
    padding: 0 15px;
}

.btn{
    background-color: var(--color);
    border-radius: 7px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    cursor: pointer;
    border: 0;
    transition: .5s background;
}
.btn:hover{
    background: var(--color2);
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }

.section-title{
    font-size: 22px;
    color: #575757;
    text-transform: uppercase;
    font-weight: 600;
}

.section-title::after{
    content: "";
    width: 320px;
    height: 7px;
    display: block;
    background: var(--color);
    margin-top: 5px;
}


.page-header{
    height: 40px;
    background-color: #000;
    position: relative;
    z-index: 1000;
}

.page-header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.page-logo{
    margin: 0;
    display: flex;
}
.page-logo-link{
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.page-logo-link span{
    color: var(--color);
    padding: 5px;
}

.page-nav{
    height: 100%;
}

.page-nav-list{
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.page-nav-list-el{
   height: 100%;
   position: relative;
}
.page-nav-list-link{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 25px;
}

.page-nav-list-link:hover{
    color: var(--color);
}

.page-nav-dropdown{
    /* display: none; */
    opacity: 0;
    transition: .5s opacity, .5s transform;
    visibility: hidden;
    position: absolute;
    margin: 0;
    padding: 15px;
    list-style: none;
    background-color: #000;
    top: calc(100% + 20px);
    left: 50%;
    transform: translate(-50%);
}
.page-nav-list-el:hover .page-nav-dropdown{
    /* display: block; */
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 10px);
}

.page-nav-dropdown::before{
    content: "";
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    border: 15px solid transparent;
    border-bottom-color: #000;
    top: -30px;
    left: 50%;
    transform: translate(-50%);
}

.page-nav-dropdown::after{
    content: "";
    width: 100%;
    height: 20px;
    display: block;
    position: absolute;
    left: 0;
    top: -20px;
    background: transparent;
}
.page-nav-dropdown-el{
padding: 10px;
}

.page-nav-dropdown-link{
    text-decoration: none;
    color: #fff;
}

.page-nav-dropdown-link:hover{
    color: var(--color);
}


.slider-bg{
    background: linear-gradient(#fff, #ccc);
}
.slider{
    height: 500px;
    display: flex;
}
.slider-prev,
.slider-next{
    width: 90px;
    background: transparent;
    border: 0;
    font-size: 80px;
    color: var(--color);
    cursor: pointer;
    outline: none;
}

.slider-prev:active,
.slider-next:active{
    color: #000;
}

.slider-next{
    order: 1;
}

.slider-slide-cnt{
    position: relative;
    top: 20%;
    flex: 1;
    background-image: url(../images/black_chair.png);
    background-repeat: no-repeat;
    
}

.slider-slide{
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: 1s opacity;
}

.slider-slide-title{
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}

.slider-slide-title strong{
    color: var(--color);
}
.slider-slide-text{
    text-align: center;
    font-size: 15px;
}
.slider-slide-button{
  font-size: 25px;
  margin-top: 20px;
  margin-left: 90px;
}
.slider-slide-active{
    opacity: 1;
}

.article{
    position: relative;
    top: 30px;
}
.article-title{
    position: absolute;
    top: 60%;
    left: 0;
    background-color: rgba(255,255,255,.5);
    padding: 10px;
    width: 100%;
}
.article-title strong{
    text-transform: uppercase;
}
.article-title::after{
    content: "";
    width: 180px;
    height: 7px;
    display: block;
    background: var(--color);
    margin-top: 5px;
}

.article-border{
    border: 1px solid #ddd;
    padding: 10px;
    width: 350px;
}
.article-title-input::after{
    content: "";
    width: 180px;
    height: 7px;
    display: block;
    background: var(--color);
    margin-top: 5px;
}




.prices-list{
    background-color: #eee;
    margin-top: 100px;
    padding: 30px;
}
.price-circle{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 50%;
    z-index: 1;
}
.price-circle-bg{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #aaa;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: 2;

}
.prices-list-title{
    padding: 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    color: #575757;
}
.prices-list-title::after{
    content: "";
    width: 300px;
    height: 7px;
    display: block;
    background: var(--color);
    margin-top: 5px;
}

.price-list{
    position: relative;
    height: 400px;
    border: 1px solid #aaa;
    padding: 20px;
    text-align: center;
}
.price-list-title{
    text-transform: uppercase;
    color: var(--color);
}

.price-list-title{
    
}
.price-for-month{
    margin: 0 auto;
    border: 1px solid #777;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}





.form{
    display: flex;
    justify-content: space-between;
}
.form-left{
    width: 635px;
}
.form-right{
    width: 345px;
}
.form-row{
    margin-bottom: 25px;
}

.form-input{
    border: 1px solid var(--color);
    height: 65px;
    width: 100%;
    padding: 0 15px;
    font-weight: 200;
    font-size: 33px;
    outline: none;
}

textarea.form-input{
    height: 190px;
    padding: 15px;
    resize: none;
}

.form-input::placeholder{
    color: #ccc;
}

.form-input:focus{
    border-color: #000;
    box-shadow: inset 0 0 0 1px #000;
}

.form-img{
    height: 195px;
    background-image: url(../images/red_chair.png);
    background-position: center -20px;
    background-repeat: no-repeat;
}

.form-checkbox{
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #aaa;
    cursor: pointer;
    margin-top: 15px;
}

.form-checkbox input{
    flex-shrink: 0;
    margin-right: 10px;
    width: 48px;
    height: 48px;
    border: 1px solid var(--color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-checkbox input:focus{
    outline: none;
}

.form-checkbox input:checked{
    background-image: url(../images/form_ok.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.form-submit{
    font-size: 34px;
    height: 70px;
    width: 100%;
    font-weight: bold;
    margin-top: 40px;
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.footer-copy{
    font-size: 15px;
    margin-left: 100px;
    color: #575757;
}
.footer-social{
   margin-left: 100px;
}

.footer-text{
    justify-content: flex-end;
    text-transform: uppercase;
    font-weight: 500;
    color: #575757;
    font-size: 18px;
    margin-right: 100px;
}
